<section class="box pt-1 pb-1 mt-3 mb-3" style="background-color: rgba(255, 255, 255, 0.67);">
  <form action="/dashboard/addstation" method="POST">
    <div class="columns">
      <div class="field column" style="display: inline-block;">
        <label class="label">Station Name</label>
        <input id="stationCity" class="input" type="text" placeholder="Enter station name" name="name">
      </div>
      <div class="field column" style="display: inline-block;">
        <label class="label">Latitude</label>
        <input id="stationLat" class="input" type="text" placeholder="Enter station latitude" name="latitude">
      </div>
      <div class="field column" style="display: inline-block;">
        <label class="label">Longitude</label>
        <input id="stationLon" class="input" type="text" placeholder="Enter station longitude" name="longitude">
      </div>
      <div class="field column is-narrow is-flex is-align-items-end">
        <button class="button is-link mb-3" style="display: inline-block;">Add Station</button>
      </div>
    </div>
  </form>
</section>

  <script>
    document.addEventListener("DOMContentLoaded", async function() {
      const result = await axios.get(`https://api.geoapify.com/v1/geocode/search?text=Baltimore&country=Ireland&format=json&apiKey=c5e1df079491472a9af943fbe1f1de97`);
      console.log(result.data);
      const stationLat = results.data.results[0].lat;
      const stationLon = results.data.results[0].lon;
      console.log(stationLat, stationLon);
      
    });
  </script>
