<section class="box pt-1 pb-1 mt-3 mb-3" style="background-color: rgba(255, 255, 255, 0.67);">
  <form action="/dashboard/addstation" method="POST">
    <div class="columns">
      <div class="field column" style="display: inline-block;">
        <label class="label">Station Name</label>
        <input id="stationCity" class="input" type="text" placeholder="Enter station name" name="name">
      </div>
      <div class="field column" style="display: inline-block;">
        <label class="label">Latitude</label>
        <input id="stationLat" class="input" type="text" placeholder="Enter station latitude" name="latitude">
      </div>
      <div class="field column" style="display: inline-block;">
        <label class="label">Longitude</label>
        <input id="stationLon" class="input" type="text" placeholder="Enter station longitude" name="longitude">
      </div>
      <div class="field column is-narrow is-flex is-align-items-end">
        <button class="button is-link mb-3" style="display: inline-block;">Add Station</button>
      </div>
    </div>
  </form>
</section>

  <script>
    import fetch from 'node-fetch'; // npm install node-fetch
    import { APIKeyService } from '../../../services/apikey.service';

    document.addEventListener("DOMContentLoaded", async function() {
      try {
        const apiKey = APIKeyService.getApiKey(); // Assuming APIKeyService is set up to fetch the key
        const response = await fetch(`https://api.geoapify.com/v1/geocode/search?text=Baltimore%2C%20Ireland&format=json&apiKey=${apiKey}`);
        const data = await response.json();

        console.log(data);
      } catch (error) {
        console.error('Error fetching data:', error);
      }
    });
  </script>
