<form class="box" action="/station/{{station._id}}/addreport" method="POST">
  <label>Enter Weather Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Code</label>
        <div class="control">
          <input class="input" type="text" placeholder="00" name="code">
        </div>
      </div>
      <div class="field">
        <label class="label">Temperature</label>
        <div class="control">
          <input class="input" type="text" placeholder="00.0C" name="temperature">
        </div>
      </div>
      <div class="field">
        <label class="label">Wind Speed</label>
        <div class="control">        
          <input class="input" type="text" placeholder="00.00km/h" name="windSpeed">
        </div>
      </div>
      <div class="field">
        <label class="label">Wind Direction</label>
        <div class="control select">        
          <select>
            <option>Select dropdown</option>
            <option>With options</option>
          </select>
          <input class="input" type="text" placeholder="000deg" name="windDirection">
        </div>
      </div>
      <div class="field">
        <label class="label">Pressure</label>
        <div class="control">        
          <input class="input" type="text" placeholder="000hPa" name="pressure">
        </div>
      </div>
    </div>
  </div>
  <button class="button is-primary">Submit Report</button>
</form>

