<label class="title is-4">Enter Weather Details:</label>
<form class="box" action="/station/{{station._id}}/addreport" method="POST">
  <div class="field is-horizontal">
    <div class="field-body is-align-items-flex-end">
      <div class="field">
        <label class="label">Code</label>
        <div class="control">
          <input class="input" type="text" placeholder="00" name="code">
        </div>
      </div>
      <div class="field">
        <label class="label">Temperature, °C</label>
        <div class="control">
          <input class="input" type="number" step="0.1" placeholder="0.0" name="temperature">
        </div>
      </div>
      <div class="field">
        <label class="label">Wind Speed, km/h</label>
        <div class="control">        
          <input class="input" type="text" placeholder="00" name="windSpeed">
        </div>
      </div>
      <div class="field">
        <label class="label">Wind Direction</label>
        <div class="control select">        
          <select name="windDirection">
            <option value="360">N</option>
            <option value="22.5">N/NE</option>
            <option value="45">NE</option>
            <option value="67.5">E/NE</option>
            <option value="90">E</option>
            <option value="112.5">E/SE</option>
            <option value="135">SE</option>
            <option value="22.5">S/SE</option>
            <option value="180">S</option>
            <option value="202.5">S/SW</option>
            <option value="225">SW</option>
            <option value="247.5">W/SW&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
            <option value="270">W</option>
            <option value="292.5">W/NW</option>
            <option value="315">NW</option>
            <option value="337.5">N/NW</option>
          </select>
        </div>
      </div>
      <div class="field">
        <label class="label">Pressure, mbar</label>
        <div class="control">        
          <input class="input" type="text" placeholder="1040" name="pressure">
        </div>
      </div>
      <button class="button is-primary">Submit Report</button>
    </div>
  </div>
  
</form>

