<section class="box mb-3" style="background-color: rgba(255, 255, 255, 0.66)">
  <form action="/dashboard/addstation" method="POST">
   <p class="title is-5"><b>Tip:</b> This is your Dashboard. To add a new station, enter its details below and hit the button "Add Station".</p>
   <div class="columns has-text-left">
      <div class="field column pt-0 pb-0" style="display: inline-block;">
        <label class="label mb-0">Station Name</label>
        <input id="stationCity" class="input" type="text" placeholder="Enter station name" name="name" required>
      </div>
      <div class="field column pt-0 pb-0" style="display: inline-block;">
        <label class="label mb-0">Latitude</label>
        <input id="stationLat" class="input" type="text" placeholder="Enter station latitude" name="latitude">
      </div>
      <div class="field column pt-0 pb-0" style="display: inline-block;">
        <label class="label mb-0">Longitude</label>
        <input id="stationLon" class="input" type="text" placeholder="Enter station longitude" name="longitude">
      </div>
      <div class="field column pt-0 pb-0 is-narrow is-flex is-align-items-end">
        <button class="button is-link mb-3" style="display: inline-block;">Add Station</button>
      </div>
    </div>
  </form>
</section>  

  <script>
    document.addEventListener("DOMContentLoaded", async function() {

      const stationCity = document.getElementById('stationCity');
      
      stationCity.addEventListener('input', async function(event) {
        const cityEntered = event.target.value;
        const url = `https://api.geoapify.com/v1/geocode/search?text=${cityEntered}&country=Ireland&format=json&apiKey=c5e1df079491472a9af943fbe1f1de97`;  
        const result = await axios.get(url);
        
        const retrievedLat = result.data.results[0].lat;
        const retrievedLon = result.data.results[0].lon;

        const stationLat = document.getElementById('stationLat');
        const stationLon = document.getElementById('stationLon');
        
        stationLat.value = retrievedLat;
        stationLon.value = retrievedLon;
        console.log(result.data);
        console.log(stationLat, stationLon);
        
      });
      
    });
  </script>
