<form class="box" action="/station/{{station._id}}/addreport" method="POST">
  <label>Enter Weather Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Code</label>
        <div class="control">
          <input class="input" type="text" placeholder="00" name="code">
        </div>
      </div>
      <div class="field">
        <label class="label">Temperature</label>
        <div class="control">
          <input class="input" type="text" placeholder="00.0C" name="temperature">
        </div>
      </div>
      <div class="field">
        <label class="label">Wind Speed</label>
        <div class="control">        
          <input class="input" type="text" placeholder="00.00km/h" name="windSpeed">
        </div>
      </div>
      <div class="field">
        <label class="label">Wind Direction</label>
        <div class="control select">        
          <select name="windDirection">
            <option>N</option>
            <option>N/NE</option>
            <option>NE</option>
            <option>E/NE</option>
            <option>E</option>
            <option>E/SE</option>
            <option>SE</option>
            <option>S/SE</option>
            <option>S</option>
            <option>S/SW</option>
            <option>SW</option>
            <option>W/SW</option>
            <option>W</option>
            <option>W/NW</option>
            <option>NW</option>
            <option>N/NW</option>
          </select>
        </div>
      </div>
      <div class="field">
        <label class="label">Pressure</label>
        <div class="control">        
          <input class="input" type="text" placeholder="000hPa" name="pressure">
        </div>
      </div>
    </div>
  </div>
  <button class="button is-primary">Submit Report</button>
</form>

<script>
  function getSelectedWindDirection() {
    var selectElement = document.querySelector('select[name="windDirection"]');
    var selectedValue = selectElement.value;
    console.log('Selected Wind Direction:', selectedValue);
  }

  document.querySelector('form').addEventListener('submit', function(event) {
    getSelectedWindDirection();
  });
</script>

