{{#each stations}}
  <div class="box has-text-centered">
    {{> summary-reports}}
   <div class="icon-column">
      <p>
        <a href="/station/{{_id}}" class="button is-primary">
          {{>icons/open-station}}
        </a>  
      </p>
      <p>
        <a href="/deleteStation/{{_id}}" class="button is-danger">
          {{> icons/delete}}
        </a>  
      </p>
    </div>
  </div>
{{/each}}