{{#each stations}}
  <div class="box box-link-hover-shadow">
    {{> summary-reports}}
   <div class="icon-column box">
      <p>
        <a href="/station/{{_id}}" class="button is-primary" style="display: inline-block;
  position: relative;">
          {{>icons/open-station}}
        </a>  
      </p>
      <p>
        <a href="/deleteStation/{{_id}}" class="button is-danger">
          {{> icons/delete}}
        </a>  
      </p>
     
    </div>
  </div>
{{/each}}