{{#each stations}}
  <div class="box box-link-hover-shadow">
    <h2 class="title">
      {{name}}
      <a href="/station/{{_id}}" class="button">
        {{>icons/open-station}}
      </a>
    </h2>
  </div>
{{/each}}
{{#each stations}}
  <div class="box box-link-hover-shadow">
    {{summary-reports}}
    <a href="/station/{{_id}}" class="button">
      {{>icons/open-station}}
    </a>
  </div>
{{/each}}