<table style="width: 100%; border-collapse: collapse;">
  <tr>
    <td>
      <div>
        {{> brand}}
      </div>
    </td>
    <td style="display: flex; justify-content: flex-end;">
      <nav id="navMenu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a id="dashboard" class="button" href="/dashboard"> Dashboard </a>
              <a id="about" class="button" href="/about"> About </a>
            </div>
          </div>
        </div>
      </nav>
    </td>
  </tr>
</table>

<script>
  document.getElementById("{{active}}").classList.add("is-primary");
</script>