<table>
  <tr>
    <div class="navbar-brand" style="min-width:50px">
      {{> brand}}
    </div>
  </tr>
  <tr>
<nav class="navbar mb-6 is-justify-content-left" style="min-width:50px">
  <div class="navbar-menu is-flex is-justify-content-right" id="navMenu" style="min-width:50px">
    <div class="navbar-end" style="min-width:50px">
      <div class="navbar-item" style="min-width:50px">
        <div class="buttons" style="min-width:50px">
          <a id="dashboard" class="button" href="/dashboard"> Dashboard </a>
          <a id="about" class="button" href="/about"> About </a>
        </div>
      </div>
    </div>
  </div>
</nav>
  
</table>
<script>
  document.getElementById("{{active}}").classList.add("is-primary");
</script>