<table class="navigation">
  <tr>
    <td>
      {{> brand}}
    </td>
    <td style="display: flex; justify-content: flex-end;">
      <nav id="navMenu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a id="dashboard" class="button" href="/dashboard"> Dashboard </a>
              <a id="about" class="button" href="/about"> About </a>
              <a id="myProfile" class="button" href="/userprofile/{{user._id}}"> My Profile </a>
              <a id="logout" class="button" href="/logout"> Logout ({{user.firstName}}) </a>
            </div>
          </div>
        </div>
      </nav>
    </td>
  </tr>
</table>


<script>
  document.getElementById("{{active}}").classList.add("is-primary");
</script>