<table style="width: 100%; border-collapse: collapse;">
  <tr>
    <div class="navbar-brand">
      {{> brand}}
    </div>
  </tr>
  <tr>
    <nav class="navbar-menu" id="navMenu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a id="dashboard" class="button" href="/dashboard"> Dashboard </a>
            <a id="about" class="button" href="/about"> About </a>
          </div>
        </div>
      </div>
    </nav>
  </tr>  
</table>
<script>
  document.getElementById("{{active}}").classList.add("is-primary");
</script>