<div class="box" style="display: inline-block; text-align: center; background-color: black;">
  <p class="title is-4 has-text-centered">{{station.name}} <hr></p>
  <p>Lat:{{station.latitude}}</p>
  <p>Lng:{{station.longitude}}</p>
  <figure class="image is-128x128 is-centered">
    <img src="${weatherCodeToImageLink(weatherCodeToday, "day")}" alt="Weather Icon"/>
  </figure>
  <p></p>
</div>
<span style="margin-right: 4px;"></span>
<div class="box" style="display: inline-block; text-align: center;">
  <p class="title is-4 has-text-centered">Weather<hr></p>
  <p>Lat:</p>
  <p>Lng:</p>
  <figure class="image is-128x128 is-centered">
    <img src="${weatherCodeToImageLink(weatherCodeToday, "day")}" alt="Weather Icon"/>
  </figure>
  <p></p>
</div>
<span style="margin-right: 4px;"></span><div class="box" style="display: inline-block; text-align: center;">
  <p class="title is-4 has-text-centered">Temp<hr></p>
  <p>Lat:</p>
  <p>Lng:</p>
  <figure class="image is-128x128 is-centered">
    <img src="${weatherCodeToImageLink(weatherCodeToday, "day")}" alt="Weather Icon"/>
  </figure>
  <p></p>
</div>
<span style="margin-right: 4px;"></span><div class="box" style="display: inline-block; text-align: center;">
  <p class="title is-4 has-text-centered">Wind<hr></p>
  <p>Lat:</p>
  <p>Lng:</p>
  <figure class="image is-128x128 is-centered">
    <img src="${weatherCodeToImageLink(weatherCodeToday, "day")}" alt="Weather Icon"/>
  </figure>
  <p></p>
</div>
<span style="margin-right: 4px;"></span><div class="box" style="display: inline-block; text-align: center;">
  <p class="title is-4 has-text-centered">Pressure<hr></p>
  <p>Lat:</p>
  <p>Lng:</p>
  <figure class="image is-128x128 is-centered">
    <img src="${weatherCodeToImageLink(weatherCodeToday, "day")}" alt="Weather Icon"/>
  </figure>
  <p></p>
</div>
<span style="margin-right: 4px;"></span><div class="box" style="display: inline-block; text-align: center;">
