{{> menu active="about"}}

<div class="spacer">
  
</div>
<section class="columns box is-3 has-text-centered">
  <div class="column">
    {{> icons/brand-big}}
    <h2 class="title is-1">
      Weather App
    </h2>

    <p class="is-size-3">
      Monitor latest weather station readings
    </p>
    <p class="is-size-4">
      By Marina Zubialevich ©
    </p>
  </div>
  <div class="column">
    <img src="/images/station.png" alt="weather station">
  </div>
</section>