{{> menu active="about"}}

<section class="columns box is-3 has-text-centered">
  <div class="column">
    <h3 class="title">
      Weather App
    </h3>
    <p>
      Monitor latest weather station readings
    </p>
  </div>
  <div class="column box">
    <img src="/images/station.png" alt="weather station">
  </div>
</section>