{{> menu active="dashboard"}}

<div class="spacer"></div>

<div class="has-text-centered mb-1" style="width: 50% margin: 0 auto">
  <p style="">
    <b>Tip:</b> This is your Dashboard. To add a new station, enter its details below and hit the button "Add Station".
  </p>
  <hr>
  <h4 class="title is-3 mb-1">
    Your Current Stations:
  </h4>
</div>

<section class="section">
  {{> list-stations}}
  {{> add-station}}
</section>

