{{> menu active="dashboard"}}

<section class="box has-text-centered">
  <h3 class="is-3 title">
    Main Dashboard
  </h3>
  <div class="section">
    <p>
      This is the main dashboard view.
      Enter new song title and press Enter or click button below to add it to your Playlist.
    </p>
  </div>
</section>
<section class="section">
  {{> list-playlists}}
  {{> add-playlist}}
</section>

