{{> menu active="dashboard"}}

  <div class="has-text-centered mb-1" style="width: 50% margin: 0 auto">
    <p>
      This is the main dashboard view.
    </p>
    <p>
      Enter new station name and press Enter or click button "Add Station" to add it to your list of stations.
    </p>
    <hr>
    <h4 class="title is-3 mb-1">
      Your Current Stations:
    </h4>
  </div>

<section class="section">
  {{> list-stations}}
  {{> add-station}}
</section>

