{{> menu active="dashboard"}}

<div class="spacer"></div>

<section class="section has-text-centered mt-5 pt-0"> 
  {{> add-station}}

  <hr style="margin: 0.5em auto ;">
  <h4 class="box title is-3 has-text-centered pt-1 pb-2 mt-3 mb-1" style="background-color: rgba(255, 255, 255, 0.66)">
      Your Current Stations:
  </h4>

  {{> list-stations}}
</section>

