{{> welcome-menu}}

<div class="spacer"></div>

<section class="columns box is-3 has-text-centered">
  <div class="column">
    {{> icons/brand-big}}
    <h2 class="title is-1">All your weather needs.</h2>
    <p class="is-size-3">
      Sign up or Log in...
    </p>
  </div>
  <div class="column">
    <img src="/images/image-1.png" alt="Description of Image">
  </div>
</section>