{{> welcome-menu}}

<section class="section">
  <p> Sign up or Log in... </p>
</section>

<div class="spacer">
  
</div>
<section class="columns box is-3 has-text-centered">
  <div class="column">
    {{> icons/brand-big}}
    <h2 class="title is-1">All your weather needs.</h2>
    <p class="is-size-3">
      Sign up or Log in...
    </p>
  </div>
  <div class="column">
    <img src="https://cdn.glitch.global/30e4fccb-555b-415e-b2b3-b8414aca9955/webweather.png?v=1724348813392" alt="weather station">
  </div>
</section>