{{> welcome-menu active="signup"}}

<div class="spacer"></div>
  
<section class="section">
  
  <div class="columns">
    <div class="column">
      <p>
        &nbsp
      </p>
    </div>  
    <div class="box column">
      <div class="column">
        <label class="title is-4">Sign up</label>
        <p class="{{messageType}} mt-2">
          {{message}}
        </p>
        <hr>  
        <form action="/register" method="POST">
          <label class="label">Name</label>
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <input class="input" type="text" placeholder="Enter first name" name="firstName">
              </div>
              <div class="field">
                <input class="input" type="text" placeholder="Enter last name" name="lastName">
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Email</label> <input class="input" type="text" placeholder="Enter email" name="email">
          </div>
          <div class="field">
            <label class="label">Password</label> <input class="input" type="password" placeholder="Enter Password" name="password">
          </div>
          <div class="field is-grouped">
            <button class="button is-link">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="column">
      <p>
        &nbsp
      </p>
    </div>
  </div>    
</section>