{{> menu}}

<div class="spacer"></div>

<section class="box has-text-centered">
  <h3 class="is-3 title">
    {{title}}
  </h3>
  <!--div class="box"-->
  {{#each stations}}
    {{> summary-reports}}
  {{/each}} 
  <!--/div-->
  <div class="section">
    {{> list-reports}}
    {{> add-report}}
  </div>
</section>
