{{> menu}}

<div class="spacer"></div>

<section class="box has-text-centered mt-5" style="background-color: rgba(255, 255, 255, 0.67);">
  <h3 class="is-3 title">
    {{title}}
  </h3>
  {{#each stations}}
    {{> summary-reports}}
  {{/each}} 
  <div class="section pt-5">
    {{> add-report}}
    {{> chart-panel}}
    {{> list-reports}}
  </div>
</section>

