{{> menu}}

<section class="box has-text-centered">
  <h3 class="is-3 title">
    {{title}}
  </h3>
  <!--div class="box"-->
    {{> summary-reports}}
  <!--/div-->
  <div class="section">
    {{> list-reports}}
    {{> add-report}}
  </div>
</section>
