{{> menu}}

<section class="box has-text-centered">
  <h3 class="is-3 title">
    {{title}}
  </h3>
  <div class="section">
    <p>
      This is the station view.
    </p>
    {{> add-report}}
  </div>
</section>
