.weatherBox {
  display: inline-block;
  position: relative;
  text-align: left;
  background-color: black;
  width: 15%;
/*  aspect-ratio: 1 / 1;*/
}

.weatherIcon {
  position: absolute;
  top: 35px;
  right: 35px;
  transform: translate(+50%, -50%);
  max-width: 100%; /* Ensures the image is responsive */
}

.title {
  margin-bottom: 0.5rem;
}