.weatherBox {
  display: inline-block;
  position: relative;
  text-align: left;
  background-color: black;
  width: 18.0%;
  margin-bottom: 0;
/*  aspect-ratio: 1 / 1;*/
}

.weatherIcon {
  position: absolute;
  top: 35px;
  right: 35px;
  transform: translate(+50%, -50%);
  max-width: 100%; /* Ensures the image is responsive */
}

.icon-column {
  display: inline-block;
}

.icon-column p {
  padding: 0 0 0 0;
}

.spacer {
  height: 56px;
  color: rgba(255, 255, 255, 0); 
}

.navigation {
  width: 100%; 
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0;
  z-index: 1000; 
  background-color: rgba(255, 255, 255, 0.66); 
}
  
.chartCtrl {
  width: 120px;
  margin: 0 3px;
}
